{% extends 'main\Base.html' %}

{% block title %} Авторы {% endblock %}

{% block content %} 
<div class="content contacts">
    <h1>Авторы</h1>
<font size="6">
    <p><a href="https://vk.com/fatimakrasnaya">Кушнарев Вадим</a> - Аналитик, дизайнер и веб-разработчик</p>
    <p><a href="https://vk.com/satanichiatoptyan">Гут Владимир</a> - Аналитик, дизайнер и веб-разработчик</p>
    <p><a href="https://vk.com/gapmeeee">Гапонов Михаил</a> - Аналитик, дизайнер и веб-разработчикк</p>
    <p><a href="https://vk.com/uuiihe7ffa">Мищенко Денис</a> - Аналитик, дизайнер и веб-разработчик</p>
    <p><a href="https://vk.com/n801et">Мельников Герман</a> - Аналитик, дизайнер и веб-разработчик</p>
</div>
{% endblock %}