{% extends 'main\Base.html' %}

{% block title %} Главная {% endblock %}

{% block content %} 
<div class="content home">

    <h1>Главная</h1>
<font size="6">
    <p class="home_p">
    "В этой работе наша команда собрала и обобщила результаты предыдущих исследований паблика в <a href="https://vk.com/rgooinadezhda">ВКонтакте</a>. . Более подробную информацию о нашей команде можно найти на странице "Об авторах", а подробности о результатах - на странице "О          результатах"
    </p>
</div>
{% endblock %}